@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Montserrat+Subrayada&display=swap');



* {
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 90%;
    margin: 0;
}

body {
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    background-color: var(--p-off-white);
}

:root {
    --p-off-white: #F8F9FA;
    --p-dark-blue: #002746;
    --p-light-blue: #1599B3;
    --p-blue-inactive: #087DA8;
    --p-blue-active: #10BDE5;
    --p-green: #1F8244;
    --p-green-active: #186334;
}

nav {
    font-family: 'Montserrat Subrayada', sans-serif;
    width: 100%;
    font-size: 2em;
    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    padding: 10px;
}

nav a {
    width: 100%;
    color: white;
    background-color: var(--p-dark-blue);
}

nav a:hover {
    color: var(--p-blue-active);
}

main {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
}

footer {
    position: fixed;
    color: var(--p-off-white);
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: var(--p-dark-blue);
}

p,
span,
input {
    font-family: 'Montserrat Alternates', sans-serif;
    color: var(--p-dark-blue);
    font-size: xx-large;
}

.form-control {
    font-family: 'Montserrat Alternates', sans-serif;
    display: inline-block;
    width: 60vw;
    height: 10vh;
    padding: 25px 20px 25px 20px;
    font-size: 30px;
    border-radius: 50px;
    background-color: var(--p-off-white);
}

.container {
    position: relative;
    top: 40%;
    align-items: center;
}

.pushable {
    background: var(--p-blue-inactive);
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    margin-top: 2.5vh;
}

.front {
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: var(--p-blue-active);
    color: var(--p-off-white);
    transform: translateY(-6px);
}

.pushable:active .front {
    transform: translateY(-2px);
}

.pushable.green {
    background: #186334 !important;
}

.green .front {
    background: #1F8244 !important;
}
