{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="container">
    <form action="{{url_for('all_links')}}" method="POST">
        <label for="link" class="form-label">
            <h2>Enter URL you would like to shorten!</h2>
        </label>
        <br>
        <input type="text" class="form-control" id="link" name="link" aria-describedby="link_input">
        <br>
        <button type="submit" class="btn btn-primary me-1 col-2" style="display: none;">Submit</button>
    </form>
</div>

{% endblock %}
