@font-face {
    font-family: legoh;
    src: url('../fonts/Legothick.ttf');
    font-weight: bold;
}

@font-face {
    font-family: register;
    src: url('../fonts/REGISTER.TTF');
    font-weight: bold;
}

* { box-sizing: border-box; }

body, html { width: 100%; height: 100%; margin: 0;}

body {
    font-family: legoh;
    text-transform: uppercase;
    text-align: center;
}

:root {
    --p-yellow: rgba(246, 228, 153);
    --p-blue: rgba(170,192,200);
    --p-green: rgba(228,233,197);
    --p-red: rgba(229,103,98);
    --a-red: rgba(233,56,28);
    --p-grey: rgba(231,230,231);
}

nav { 
    width: 100%;
    font-size: 2em;
    display: flex;
    justify-content: space-evenly;
}

a { 
    text-decoration: none;
    padding: 10px;
}

nav a { width: 100%; color: var(--p-red);}
nav a:hover { color: var(--a-red)}
nav a:nth-child(odd) { background-color: var(--p-green); }
nav a:nth-child(even) { background-color: var(--p-yellow); }

main {
    display: block;
    position: relative;
    height: calc(100% - 60px);
    width: 100%;
    padding-top: 10vh;
}

main::after {
    content: "";
    background-image: url('../img/lego-banner.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    opacity: 0.3;
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

footer {
    position: fixed;
    color: var(--p-red);
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: var(--p-blue);
}

#about a { padding: 0; }
#about { text-align: justify; padding: 1rem; max-width: 350px; margin: 0 auto;}
#thankyou { text-align: center; }

p, span, input {
    font-family: register;
}